$default-padding: 12px !default;
$background-color: #f6f6f6 !default;
$default-color: rgb(122, 122, 122) !default;
$light-grey: rgb(131, 146, 156) !default;
$dark-grey: rgb(200, 200, 200) !default;
$highlight1: rgb(219, 70, 21) !default;
$highlight2: rgb(50, 156, 146) !default;
$transcript-highlight: rgb(255, 249, 169) !default;
$transcript-search-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;