<div class="podcast-player">
  <audio></audio>

  <div class="main-player">
    <img class="cover-image" pp-src="coverUrl | scale 90" pp />

    <div class="controls">
      <button class="play-button" pp-aria-label="translations.playPause" pp-title="translations.playPause"></button>
    </div>

    <div class="episode-basic-info">
      <div class="episode-title">
        <a pp-href="url" pp-if="url" pp-html="title" target="_parent"></a>
        <span pp-unless="url" pp-html="title"></span>
      </div>
      <div class="episode-subtitle" pp-html="subtitle"></div>
    </div>

    <div class="controls-advanced">
      <button class="backward-button" pp-title="translations.backward" pp-aria-label="translations.backward"></button>
      <button class="forward-button" pp-title="translations.forward" pp-aria-label="translations.forward"></button>
      <select class="speed-select" pp-title="translations.changePlaybackSpeed" pp-aria-label="translations.changePlaybackSpeed">
        <option value="0.5">0.5x</option>
        <option value="1.0">1x</option>
        <option value="1.5">1.5x</option>
        <option value="2.0">2.0x</option>
        <option value="2.5">2.5x</option>
        <option value="3.0">3.0x</option>
        <option value="3.5">3.5x</option>
        <option value="4.0">4.0x</option>
      </select>
    </div>

    <div class="buttons"></div>

    <progressbar/>
  </div>

  <div class="panels"></div>

  <div class="footer" pp-if="showSubscribeBar">
    <button class="subscribe-button" pp-html="translations.subscribe" pp-aria-label="translations.subscribe" pp-if="showSubscribeButton"></button>

    <ul class="podcast-connections-items">
      <li class="podcast-connections-item" pp-if="podcastConnections.itunes">
        <a pp-href="podcastConnections.itunes" pp-title="translations.podcastOnItunes" pp-aria-label="translations.podcastOnItunes" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
            <path d="M7.12 0c-0.005 0-0.010-0-0.016-0-3.923 0-7.104 3.181-7.104 7.104 0 0.006 0 0.011 0 0.017v-0.001 17.76c0 0.005-0 0.010-0 0.016 0 3.923 3.181 7.104 7.104 7.104 0.006 0 0.011 0 0.017-0h17.759c0.005 0 0.010 0 0.016 0 3.923 0 7.104-3.181 7.104-7.104 0-0.006 0-0.011-0-0.017v0.001-17.76c0-0.005 0-0.010 0-0.016 0-3.923-3.181-7.104-7.104-7.104-0.006 0-0.011 0-0.017 0h0.001zM15.82 3.424c3.115 0 5.931 1.203 8.075 3.449 1.632 1.696 2.549 3.492 3.019 5.856 0.16 0.787 0.16 2.933 0.009 3.819-0.527 2.9-2.094 5.363-4.292 7.041l-0.028 0.020c-0.811 0.613-2.795 1.681-3.115 1.681-0.117 0-0.128-0.121-0.075-0.613 0.096-0.789 0.192-0.953 0.64-1.141 0.715-0.299 1.931-1.165 2.677-1.913 1.265-1.264 2.199-2.859 2.662-4.644l0.016-0.071c0.277-1.099 0.245-3.541-0.064-4.672-0.971-3.595-3.904-6.389-7.499-7.136-1.045-0.213-2.944-0.213-4 0-3.637 0.747-6.645 3.68-7.563 7.371-0.245 1.003-0.245 3.445 0 4.448 0.608 2.443 2.187 4.683 4.256 6.016 0.405 0.267 0.896 0.544 1.099 0.629 0.448 0.192 0.544 0.352 0.629 1.141 0.053 0.48 0.040 0.619-0.075 0.619-0.075 0-0.619-0.235-1.195-0.512l-0.053-0.040c-3.296-1.621-5.408-4.365-6.176-8.016-0.192-0.941-0.224-3.189-0.040-4.053 0.48-2.32 1.397-4.133 2.923-5.739 2.197-2.316 5.024-3.541 8.169-3.54zM15.999 7.171c0.545 0.005 1.071 0.053 1.475 0.141 3.712 0.827 6.347 4.544 5.835 8.232-0.203 1.485-0.715 2.707-1.621 3.84-0.448 0.573-1.536 1.533-1.728 1.533-0.031 0-0.064-0.363-0.064-0.804v-0.807l0.555-0.661c2.091-2.504 1.941-6.003-0.341-8.299-0.885-0.893-1.909-1.419-3.232-1.661-0.853-0.157-1.035-0.157-1.931-0.011-1.36 0.223-2.413 0.749-3.349 1.675-2.293 2.272-2.443 5.789-0.352 8.296l0.551 0.661v0.811c0 0.448-0.036 0.811-0.080 0.811-0.040 0-0.352-0.213-0.683-0.48l-0.045-0.015c-1.109-0.885-2.091-2.456-2.496-3.996-0.245-0.931-0.245-2.699 0.011-3.627 0.672-2.504 2.517-4.447 5.077-5.359 0.547-0.193 1.511-0.293 2.42-0.281zM15.825 11.157c0.413 0 0.827 0.080 1.125 0.237 0.651 0.337 1.184 0.993 1.387 1.679 0.619 2.104-1.611 3.947-3.627 3.005h-0.020c-0.949-0.441-1.461-1.275-1.472-2.36 0-0.977 0.544-1.828 1.483-2.327 0.299-0.156 0.712-0.235 1.124-0.235zM15.811 17.461c1.317-0.005 2.275 0.465 2.627 1.293 0.264 0.619 0.165 2.576-0.291 5.736-0.309 2.208-0.48 2.765-0.907 3.141-0.587 0.52-1.419 0.664-2.208 0.384h-0.004c-0.955-0.343-1.16-0.807-1.552-3.525-0.455-3.16-0.555-5.117-0.291-5.736 0.349-0.821 1.299-1.288 2.625-1.293z"></path>
          </svg>
        </a>
      </li>
      <li class="podcast-connections-item" pp-if="podcastConnections.spotify">
        <a pp-href="podcastConnections.spotify" pp-title="translations.podcastOnSpotify" pp-aria-label="translations.podcastOnSpotify" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" preserveAspectRatio="xMinYMin meet" role="img"><path d="M12.472 11.975c0-.236-.11-.425-.33-.564-1.425-.848-3.075-1.273-4.948-1.273-.982 0-2.04.124-3.176.376-.311.066-.465.258-.465.576 0 .147.05.274.149.382.099.107.23.16.392.16.036 0 .173-.029.41-.088.972-.2 1.87-.298 2.688-.298 1.667 0 3.133.38 4.394 1.14.14.081.262.121.366.121.14 0 .262-.05.366-.149a.507.507 0 0 0 .154-.383zm1.064-2.379a.74.74 0 0 0-.387-.674C11.4 7.88 9.378 7.36 7.084 7.36c-1.129 0-2.246.155-3.353.465-.354.096-.53.332-.53.708 0 .184.064.342.194.47a.643.643 0 0 0 .47.194c.052 0 .187-.03.41-.088.9-.243 1.826-.366 2.777-.366 2.059 0 3.86.458 5.401 1.372.177.095.318.144.42.144a.636.636 0 0 0 .47-.194.638.638 0 0 0 .193-.469zM14.73 6.85a.837.837 0 0 0-.442-.775c-.93-.54-2.01-.947-3.242-1.223a17.219 17.219 0 0 0-3.796-.415c-1.506 0-2.848.174-4.028.52a.88.88 0 0 0-.427.284c-.114.137-.171.315-.171.536 0 .229.076.42.227.575.15.155.342.233.57.233.082 0 .23-.03.443-.089.982-.272 2.114-.409 3.398-.409 1.173 0 2.316.125 3.426.376 1.11.252 2.045.602 2.805 1.052a.894.894 0 0 0 .443.133c.213 0 .4-.076.558-.227a.763.763 0 0 0 .236-.57zM17 8.5a8.32 8.32 0 0 1-1.14 4.267 8.476 8.476 0 0 1-3.093 3.093A8.32 8.32 0 0 1 8.5 17a8.32 8.32 0 0 1-4.267-1.14 8.476 8.476 0 0 1-3.093-3.093A8.32 8.32 0 0 1 0 8.5a8.32 8.32 0 0 1 1.14-4.267A8.476 8.476 0 0 1 4.233 1.14 8.32 8.32 0 0 1 8.5 0a8.32 8.32 0 0 1 4.267 1.14 8.476 8.476 0 0 1 3.093 3.093A8.32 8.32 0 0 1 17 8.5z" fill-rule="nonzero"></path></svg>
        </a>
      </li>
      <li class="podcast-connections-item" pp-if="podcastConnections.deezer">
        <a pp-href="podcastConnections.deezer" pp-title="translations.podcastOnDeezer" pp-aria-label="translations.podcastOnDeezer" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet" role="img"><path d="M19.623 24.927h5.833v-1.767h-5.836v1.767h0.003zM6.543 24.927h5.831v-1.767h-5.832v1.767h0.005zM0 24.927h5.833v-1.767h-5.833v1.767zM13.080 24.927h5.84v-1.767h-5.84v1.767zM26.167 24.927h5.833v-1.767h-5.833v1.767zM26.167 22.628h5.833v-1.76h-5.833v1.773zM13.081 22.628h5.853v-1.76h-5.855v1.773zM0.001 22.628h5.84v-1.76h-5.841v1.773zM6.548 22.628h5.84v-1.76h-5.841v1.787l0.003-0.013zM19.655 22.628h5.84v-1.76h-5.867v1.787l0.023-0.013zM19.655 20.335h5.84v-1.76h-5.867v1.773h0.023zM6.581 20.335h5.813v-1.76h-5.848v1.773h0.021zM0.040 20.335h5.813v-1.76h-5.853v1.773h0.021zM13.12 20.335h5.84v-1.76h-5.867v1.773h0.021zM26.22 20.335h5.78v-1.76h-5.833v1.773h0.036zM26.22 18.041h5.78v-1.775h-5.833v1.768h0.036zM13.14 18.041h5.817v-1.775h-5.867v1.768h0.044zM0.060 18.041h5.807v-1.775h-5.867v1.768h0.040zM19.7 18.041h5.84v-1.775h-5.907v1.768h0.059zM19.7 15.748h5.84v-1.773h-5.907v1.76h0.059zM0.060 15.748h5.807v-1.76h-5.867v1.76h0.040zM13.14 15.748h5.84v-1.76h-5.9v1.76h0.043zM26.22 15.748h5.78v-1.773h-5.833v1.771l0.036-0.003zM13.080 13.44h5.84v-1.768h-5.84v1.768zM26.167 13.437h5.833v-1.767h-5.833v1.767zM13.080 11.14h5.84v-1.769h-5.84v1.769zM26.167 11.14h5.833v-1.769h-5.833v1.769zM26.167 8.84h5.833v-1.768h-5.833v1.768z"></path></svg>
        </a>
      </li>
      <li class="podcast-connections-item podcast-connections-item-podimo" pp-if="podcastConnections.podimo">
        <a pp-href="podcastConnections.podimo" pp-title="translations.podcastOnPodimo" pp-aria-label="translations.podcastOnPodimo" target="_blank">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.51 28.53" enable-background="new 0 0 28.51 28.53" xml:space="preserve" width="20" height="20">
            <g>
              <path d="M0.05,15.41c0.05,0.77,0.7,1.36,1.46,1.36c0.82,0,1.47-0.65,1.47-1.47c0-0.06-0.04-0.66-0.04-1.01
                c0-6.27,5.08-11.36,11.35-11.36c0.35,0,0.95,0.04,1.01,0.04c0.82,0,1.47-0.66,1.47-1.47c0-0.76-0.59-1.41-1.36-1.46
                C15.02,0.01,14.63,0,14.25,0C6.41,0,0,6.42,0,14.26C0,14.64,0.02,15.03,0.05,15.41z"/>
              <path d="M28.47,13.12c-0.05-0.77-0.7-1.36-1.46-1.36c-0.82,0-1.47,0.65-1.47,1.47c0,0.06,0.04,0.66,0.04,1.01
                c0,6.27-5.08,11.36-11.35,11.36c-0.35,0-0.95-0.04-1.01-0.04c-0.82,0-1.47,0.66-1.47,1.47c0,0.76,0.59,1.41,1.36,1.46
                c0.39,0.03,0.77,0.05,1.15,0.05c7.84,0,14.25-6.42,14.25-14.26C28.51,13.89,28.5,13.51,28.47,13.12z"/>
              <path d="M14.26,5.89c-4.61,0-8.37,3.75-8.37,8.39v6.86c0,0.81,0.66,1.47,1.47,1.47s1.47-0.66,1.47-1.47l0.01-6.86
                c0-3,2.42-5.45,5.42-5.45c3,0,5.42,2.45,5.42,5.45s-2.46,5.44-5.46,5.44c-0.35,0-0.95-0.04-1.01-0.04c-0.82,0-1.47,0.66-1.47,1.47
                c0,0.76,0.59,1.41,1.36,1.46c0.39,0.03,0.77,0.05,1.15,0.05c4.61,0,8.37-3.74,8.37-8.37S18.87,5.89,14.26,5.89z"/>
              <circle cx="14.26" cy="14.27" r="2.51"/>
            </g>
          </svg>
        </a>
      </li>
      <li class="podcast-connections-item podcast-connections-item-alexa" pp-if="podcastConnections.alexa">
        <a pp-href="podcastConnections.alexa" pp-title="translations.podcastOnAlexa" pp-aria-label="translations.podcastOnAlexa" target="_blank">
          <svg id="svg" version="1.1" width="30" height="30" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ><g id="svgg"><path id="path0" d="" stroke="none" fill-rule="evenodd"></path><path id="path1" d="M183.600 85.491 C 183.270 85.617,182.872 85.918,182.716 86.160 C 182.557 86.406,180.704 86.688,178.516 86.800 C 175.391 86.960,174.600 87.121,174.600 87.600 C 174.600 88.068,173.954 88.226,171.658 88.318 C 169.130 88.420,168.687 88.547,168.511 89.218 C 168.340 89.872,167.953 90.000,166.153 90.000 C 164.267 90.000,164.000 90.099,164.000 90.800 C 164.000 91.491,163.733 91.600,162.049 91.600 C 160.884 91.600,159.915 91.821,159.643 92.149 C 159.392 92.450,158.353 92.791,157.333 92.906 C 156.219 93.032,155.336 93.372,155.120 93.758 C 154.922 94.111,154.424 94.400,154.013 94.400 C 152.839 94.400,152.000 94.835,152.000 95.443 C 152.000 95.925,150.642 96.243,149.466 96.036 C 149.282 96.004,149.036 96.342,148.919 96.789 C 148.769 97.363,148.376 97.600,147.574 97.600 C 146.922 97.600,145.986 98.022,145.370 98.593 C 144.781 99.138,144.141 99.487,143.947 99.367 C 143.753 99.247,143.486 99.431,143.354 99.775 C 143.222 100.119,142.757 100.400,142.320 100.400 C 141.862 100.400,141.437 100.739,141.316 101.200 C 141.159 101.801,140.770 102.000,139.753 102.000 C 138.667 102.000,138.400 102.158,138.400 102.800 C 138.400 103.323,138.133 103.600,137.629 103.600 C 137.204 103.600,136.611 103.846,136.310 104.147 C 136.009 104.448,135.366 104.820,134.881 104.974 C 134.396 105.128,133.810 105.607,133.580 106.038 C 133.349 106.470,132.977 106.709,132.753 106.571 C 132.529 106.433,132.247 106.698,132.126 107.160 C 132.006 107.622,131.686 108.000,131.415 108.000 C 131.145 108.000,130.607 108.350,130.220 108.778 C 129.833 109.205,129.130 109.615,128.658 109.687 C 128.186 109.760,127.847 110.045,127.904 110.321 C 127.961 110.597,127.691 110.939,127.304 111.081 C 126.468 111.389,124.800 113.081,124.800 113.621 C 124.800 113.829,124.440 114.000,124.000 114.000 C 123.467 114.000,123.200 114.267,123.200 114.800 C 123.200 115.333,122.933 115.600,122.400 115.600 C 121.867 115.600,121.600 115.867,121.600 116.400 C 121.600 116.933,121.333 117.200,120.800 117.200 C 120.360 117.200,120.000 117.372,120.000 117.582 C 120.000 118.078,118.078 120.000,117.582 120.000 C 117.372 120.000,117.200 120.360,117.200 120.800 C 117.200 121.333,116.933 121.600,116.400 121.600 C 115.883 121.600,115.600 121.867,115.600 122.353 C 115.600 122.770,115.243 123.200,114.800 123.316 C 114.360 123.431,114.000 123.812,114.000 124.163 C 114.000 124.513,113.764 124.800,113.475 124.800 C 112.952 124.800,111.200 126.875,111.200 127.495 C 111.200 127.675,110.840 128.130,110.400 128.507 C 109.960 128.884,109.600 129.554,109.600 129.996 C 109.600 130.438,109.391 130.800,109.136 130.800 C 108.572 130.800,106.400 133.169,106.400 133.784 C 106.400 134.026,106.040 134.483,105.600 134.800 C 105.160 135.117,104.800 135.697,104.800 136.088 C 104.800 136.480,104.530 136.800,104.200 136.800 C 103.785 136.800,103.600 137.217,103.600 138.153 C 103.600 139.170,103.401 139.559,102.800 139.716 C 102.360 139.831,102.000 140.212,102.000 140.563 C 102.000 140.913,101.640 141.560,101.200 142.000 C 100.760 142.440,100.400 143.160,100.400 143.600 C 100.400 144.044,100.133 144.400,99.800 144.400 C 99.470 144.400,99.187 144.535,99.170 144.700 C 99.029 146.122,98.692 147.070,98.193 147.444 C 97.867 147.688,97.600 148.432,97.600 149.097 C 97.600 149.970,97.377 150.365,96.800 150.516 C 96.187 150.676,96.000 151.062,96.000 152.163 C 96.000 153.198,95.826 153.600,95.376 153.600 C 95.033 153.600,94.856 153.768,94.983 153.972 C 95.109 154.177,95.030 154.458,94.807 154.596 C 94.583 154.734,94.400 155.513,94.400 156.327 C 94.400 157.374,94.166 157.954,93.600 158.307 C 92.993 158.686,92.800 159.240,92.800 160.603 C 92.800 161.906,92.641 162.400,92.220 162.400 C 91.798 162.400,91.607 163.000,91.520 164.605 C 91.454 165.817,91.240 166.792,91.045 166.770 C 90.355 166.695,90.012 167.827,90.006 170.204 C 90.001 172.170,89.854 172.698,89.200 173.107 C 88.498 173.546,88.400 174.040,88.400 177.141 C 88.400 180.168,88.285 180.780,87.600 181.400 C 86.824 182.103,86.800 182.632,86.800 199.400 C 86.800 216.168,86.824 216.697,87.600 217.400 C 88.278 218.014,88.400 218.632,88.400 221.459 C 88.400 224.360,88.504 224.858,89.200 225.293 C 89.874 225.713,90.000 226.226,90.000 228.534 C 90.000 230.917,90.102 231.302,90.781 231.479 C 91.420 231.646,91.584 232.094,91.681 233.942 C 91.763 235.487,91.958 236.168,92.300 236.100 C 92.627 236.035,92.817 236.553,92.850 237.600 C 92.877 238.480,92.945 239.380,93.000 239.600 C 93.055 239.820,93.123 240.180,93.150 240.400 C 93.178 240.620,93.470 240.800,93.800 240.800 C 94.213 240.800,94.400 241.214,94.400 242.125 C 94.400 242.896,94.734 243.808,95.200 244.308 C 95.640 244.780,96.000 245.692,96.000 246.334 C 96.000 247.501,96.839 248.628,97.337 248.130 C 97.482 247.985,97.600 248.532,97.600 249.346 C 97.600 250.280,97.817 250.908,98.189 251.051 C 98.513 251.176,98.891 251.877,99.028 252.611 C 99.166 253.344,99.531 254.041,99.839 254.160 C 100.148 254.278,100.400 254.741,100.400 255.187 C 100.400 255.634,100.591 256.000,100.824 256.000 C 101.057 256.000,101.148 256.161,101.026 256.358 C 100.904 256.555,101.074 256.819,101.402 256.946 C 101.731 257.072,102.000 257.541,102.000 257.987 C 102.000 258.533,102.263 258.800,102.800 258.800 C 103.443 258.800,103.600 259.067,103.600 260.157 C 103.600 260.995,103.830 261.603,104.200 261.745 C 104.530 261.871,104.800 262.251,104.800 262.587 C 104.800 262.924,105.137 263.200,105.549 263.200 C 106.113 263.200,106.361 263.594,106.554 264.800 C 106.719 265.835,107.020 266.400,107.405 266.400 C 107.733 266.400,108.000 266.758,108.000 267.200 C 108.000 267.733,108.267 268.000,108.800 268.000 C 109.309 268.000,109.600 268.267,109.600 268.732 C 109.600 269.135,110.317 270.260,111.194 271.232 C 112.071 272.204,112.791 273.225,112.794 273.500 C 112.797 273.775,113.070 274.000,113.400 274.000 C 113.730 274.000,114.000 274.287,114.000 274.637 C 114.000 274.988,114.360 275.369,114.800 275.484 C 115.240 275.599,115.600 275.942,115.600 276.247 C 115.600 276.551,115.960 276.800,116.400 276.800 C 116.933 276.800,117.200 277.067,117.200 277.600 C 117.200 278.044,117.467 278.400,117.800 278.400 C 118.133 278.400,118.400 278.756,118.400 279.200 C 118.400 279.733,118.667 280.000,119.200 280.000 C 119.733 280.000,120.000 280.267,120.000 280.800 C 120.000 281.333,120.267 281.600,120.800 281.600 C 121.333 281.600,121.600 281.867,121.600 282.400 C 121.600 282.933,121.867 283.200,122.400 283.200 C 122.844 283.200,123.200 283.467,123.200 283.800 C 123.200 284.133,123.556 284.400,124.000 284.400 C 124.533 284.400,124.800 284.667,124.800 285.200 C 124.800 285.640,125.058 286.000,125.373 286.000 C 125.688 286.000,126.060 286.360,126.200 286.800 C 126.340 287.240,126.672 287.600,126.938 287.600 C 127.204 287.600,127.730 287.960,128.107 288.400 C 128.484 288.840,129.075 289.200,129.420 289.200 C 129.765 289.200,129.935 289.382,129.797 289.605 C 129.658 289.829,130.088 290.118,130.762 290.252 C 131.430 290.386,132.078 290.814,132.201 291.204 C 132.325 291.594,132.799 292.011,133.253 292.130 C 133.708 292.249,133.973 292.519,133.843 292.731 C 133.558 293.191,134.494 293.600,135.833 293.600 C 136.533 293.600,136.800 293.821,136.800 294.400 C 136.800 294.933,137.067 295.200,137.600 295.200 C 138.044 295.200,138.400 295.467,138.400 295.800 C 138.400 296.130,138.535 296.413,138.700 296.430 C 140.113 296.570,141.033 296.916,141.310 297.411 C 141.491 297.735,141.906 298.000,142.232 298.000 C 142.558 298.000,142.928 298.269,143.054 298.598 C 143.181 298.926,143.445 299.096,143.642 298.974 C 143.839 298.852,144.000 298.943,144.000 299.176 C 144.000 299.409,144.354 299.600,144.786 299.600 C 145.218 299.600,145.765 299.960,146.000 300.400 C 146.268 300.901,146.838 301.200,147.525 301.200 C 148.129 301.200,148.930 301.560,149.307 302.000 C 149.684 302.440,150.444 302.800,150.996 302.800 C 151.548 302.800,152.000 303.032,152.000 303.315 C 152.000 303.607,152.554 303.872,153.282 303.928 C 153.987 303.981,154.894 304.380,155.298 304.813 C 155.775 305.325,156.554 305.600,157.527 305.600 C 158.527 305.600,159.249 305.865,159.707 306.400 C 160.199 306.975,160.887 307.200,162.149 307.200 C 163.570 307.200,163.947 307.353,164.116 308.000 C 164.291 308.669,164.662 308.800,166.375 308.800 C 167.828 308.800,168.492 308.975,168.655 309.400 C 168.829 309.853,169.561 310.000,171.643 310.000 C 174.116 310.000,174.400 310.081,174.400 310.786 C 174.400 311.505,174.730 311.581,178.300 311.686 C 181.449 311.778,182.200 311.916,182.200 312.400 C 182.200 313.492,218.149 313.502,219.083 312.411 C 219.684 311.709,220.257 311.600,223.326 311.600 C 226.538 311.600,226.895 311.524,227.084 310.800 C 227.269 310.091,227.630 310.000,230.247 310.000 C 232.605 310.000,233.200 309.879,233.200 309.400 C 233.200 308.872,235.409 308.496,236.934 308.764 C 237.118 308.796,237.364 308.458,237.481 308.011 C 237.654 307.352,238.021 307.200,239.451 307.200 C 240.713 307.200,241.401 306.975,241.893 306.400 C 242.379 305.832,243.073 305.600,244.286 305.600 C 245.560 305.600,246.120 305.397,246.493 304.800 C 246.788 304.327,247.426 304.000,248.053 304.000 C 248.637 304.000,249.209 303.753,249.325 303.451 C 249.441 303.148,250.163 302.783,250.929 302.640 C 251.696 302.496,252.424 302.113,252.549 301.789 C 252.678 301.452,253.287 301.200,253.973 301.200 C 254.762 301.200,255.318 300.927,255.600 300.400 C 255.835 299.960,256.382 299.600,256.814 299.600 C 257.246 299.600,257.600 299.409,257.600 299.176 C 257.600 298.943,257.761 298.852,257.958 298.974 C 258.155 299.096,258.419 298.926,258.546 298.598 C 258.672 298.269,259.042 298.000,259.368 298.000 C 259.694 298.000,260.109 297.735,260.290 297.411 C 260.567 296.916,261.487 296.570,262.900 296.430 C 263.065 296.413,263.200 296.130,263.200 295.800 C 263.200 295.470,263.489 295.200,263.842 295.200 C 264.195 295.200,265.019 294.750,265.673 294.200 C 266.327 293.650,267.128 293.200,267.454 293.200 C 267.780 293.200,267.928 293.008,267.783 292.773 C 267.638 292.538,267.892 292.249,268.347 292.130 C 268.801 292.011,269.273 291.618,269.394 291.257 C 269.515 290.896,270.346 290.263,271.240 289.852 C 272.134 289.440,273.556 288.405,274.401 287.552 C 275.246 286.698,276.131 286.000,276.369 286.000 C 276.606 286.000,276.800 285.640,276.800 285.200 C 276.800 284.667,277.067 284.400,277.600 284.400 C 278.040 284.400,278.400 284.151,278.400 283.847 C 278.400 283.542,278.760 283.199,279.200 283.084 C 279.640 282.969,280.000 282.609,280.000 282.284 C 280.000 281.959,280.360 281.599,280.800 281.484 C 281.240 281.369,281.600 280.988,281.600 280.637 C 281.600 280.267,281.935 280.000,282.400 280.000 C 282.933 280.000,283.200 279.733,283.200 279.200 C 283.200 278.756,283.467 278.400,283.800 278.400 C 284.133 278.400,284.400 278.044,284.400 277.600 C 284.400 277.067,284.667 276.800,285.200 276.800 C 285.644 276.800,286.000 276.533,286.000 276.200 C 286.000 275.870,286.276 275.600,286.613 275.600 C 286.949 275.600,287.345 275.285,287.492 274.900 C 287.639 274.515,288.354 273.639,289.080 272.953 C 289.806 272.267,290.400 271.502,290.400 271.253 C 290.400 271.004,290.760 270.440,291.200 270.000 C 291.640 269.560,292.000 268.951,292.000 268.647 C 292.000 268.342,292.360 267.999,292.800 267.884 C 293.240 267.769,293.600 267.409,293.600 267.084 C 293.600 266.759,293.930 266.407,294.333 266.302 C 294.737 266.196,295.067 265.857,295.067 265.547 C 295.067 264.837,297.188 261.600,297.653 261.600 C 297.844 261.600,298.000 260.970,298.000 260.200 C 298.000 259.212,298.180 258.800,298.610 258.800 C 298.945 258.800,299.391 258.350,299.600 257.800 C 299.809 257.250,300.175 256.800,300.414 256.800 C 300.652 256.800,300.736 256.620,300.600 256.400 C 300.464 256.180,300.543 256.000,300.776 256.000 C 301.009 256.000,301.200 255.730,301.200 255.400 C 301.200 255.070,301.560 254.440,302.000 254.000 C 302.440 253.560,302.800 252.772,302.800 252.249 C 302.800 251.726,303.070 251.074,303.400 250.800 C 303.730 250.526,304.000 249.940,304.000 249.498 C 304.000 249.056,304.315 248.403,304.700 248.047 C 305.085 247.691,305.458 246.950,305.529 246.400 C 305.600 245.850,305.930 245.189,306.263 244.931 C 306.596 244.673,306.967 243.683,307.089 242.731 C 307.211 241.779,307.645 240.678,308.055 240.284 C 308.563 239.796,308.800 239.002,308.800 237.784 C 308.800 236.570,308.960 236.032,309.300 236.100 C 309.643 236.169,309.838 235.478,309.920 233.900 C 310.023 231.927,310.151 231.600,310.820 231.600 C 311.522 231.600,311.600 231.309,311.600 228.696 C 311.600 226.226,311.719 225.718,312.400 225.293 C 313.097 224.858,313.200 224.360,313.200 221.439 C 313.200 218.767,313.327 218.037,313.825 217.846 C 314.169 217.714,314.339 217.424,314.202 217.203 C 314.065 216.981,314.143 216.800,314.376 216.800 C 315.295 216.800,314.927 182.239,314.000 181.400 C 313.315 180.780,313.200 180.168,313.200 177.141 C 313.200 174.040,313.102 173.546,312.400 173.107 C 311.746 172.698,311.599 172.170,311.594 170.204 C 311.588 167.795,311.220 166.615,310.555 166.866 C 310.360 166.940,310.146 165.965,310.080 164.700 C 309.992 163.013,309.806 162.400,309.380 162.400 C 308.959 162.400,308.800 161.906,308.800 160.603 C 308.800 159.240,308.607 158.686,308.000 158.307 C 307.434 157.954,307.200 157.374,307.200 156.327 C 307.200 155.513,307.017 154.734,306.793 154.596 C 306.570 154.458,306.493 154.173,306.623 153.962 C 306.753 153.752,306.621 153.630,306.330 153.690 C 305.978 153.763,305.757 153.280,305.673 152.256 C 305.581 151.129,305.337 150.656,304.773 150.509 C 304.224 150.365,304.000 149.956,304.000 149.097 C 304.000 148.432,303.733 147.688,303.407 147.444 C 302.908 147.070,302.571 146.122,302.430 144.700 C 302.413 144.535,302.130 144.400,301.800 144.400 C 301.467 144.400,301.200 144.044,301.200 143.600 C 301.200 143.160,300.840 142.440,300.400 142.000 C 299.960 141.560,299.600 140.913,299.600 140.563 C 299.600 140.212,299.240 139.831,298.800 139.716 C 298.199 139.559,298.000 139.170,298.000 138.153 C 298.000 137.217,297.815 136.800,297.400 136.800 C 297.070 136.800,296.800 136.480,296.800 136.088 C 296.800 135.697,296.440 135.117,296.000 134.800 C 295.560 134.483,295.200 133.979,295.200 133.681 C 295.200 133.037,293.049 130.800,292.431 130.800 C 292.194 130.800,292.000 130.438,292.000 129.996 C 292.000 129.554,291.640 128.884,291.200 128.507 C 290.760 128.130,290.400 127.675,290.400 127.495 C 290.400 126.875,288.648 124.800,288.125 124.800 C 287.836 124.800,287.600 124.513,287.600 124.163 C 287.600 123.812,287.240 123.431,286.800 123.316 C 286.357 123.200,286.000 122.770,286.000 122.353 C 286.000 121.867,285.717 121.600,285.200 121.600 C 284.667 121.600,284.400 121.333,284.400 120.800 C 284.400 120.360,284.228 120.000,284.018 120.000 C 283.522 120.000,281.600 118.078,281.600 117.582 C 281.600 117.372,281.240 117.200,280.800 117.200 C 280.267 117.200,280.000 116.933,280.000 116.400 C 280.000 115.867,279.733 115.600,279.200 115.600 C 278.667 115.600,278.400 115.333,278.400 114.800 C 278.400 114.267,278.133 114.000,277.600 114.000 C 277.059 114.000,276.800 113.733,276.800 113.176 C 276.800 112.723,276.619 112.465,276.397 112.602 C 276.176 112.739,275.881 112.556,275.743 112.195 C 275.604 111.834,275.064 111.376,274.543 111.178 C 274.021 110.980,273.640 110.593,273.697 110.318 C 273.754 110.044,273.414 109.760,272.942 109.687 C 272.470 109.615,271.767 109.205,271.380 108.778 C 270.993 108.350,270.455 108.000,270.185 108.000 C 269.914 108.000,269.594 107.622,269.474 107.160 C 269.353 106.698,269.071 106.433,268.847 106.571 C 268.623 106.709,268.251 106.470,268.020 106.038 C 267.790 105.607,267.204 105.128,266.719 104.974 C 266.234 104.820,265.591 104.448,265.290 104.147 C 264.989 103.846,264.396 103.600,263.971 103.600 C 263.467 103.600,263.200 103.323,263.200 102.800 C 263.200 102.158,262.933 102.000,261.847 102.000 C 260.830 102.000,260.441 101.801,260.284 101.200 C 260.163 100.739,259.738 100.400,259.280 100.400 C 258.843 100.400,258.378 100.119,258.246 99.775 C 258.114 99.431,257.847 99.247,257.653 99.367 C 257.459 99.487,256.819 99.138,256.230 98.593 C 255.614 98.022,254.678 97.600,254.026 97.600 C 253.224 97.600,252.831 97.363,252.681 96.789 C 252.564 96.342,252.318 96.004,252.134 96.036 C 250.958 96.243,249.600 95.925,249.600 95.443 C 249.600 94.835,248.761 94.400,247.587 94.400 C 247.176 94.400,246.678 94.111,246.480 93.758 C 246.264 93.372,245.381 93.032,244.267 92.906 C 243.247 92.791,242.208 92.450,241.957 92.149 C 241.685 91.821,240.716 91.600,239.551 91.600 C 237.867 91.600,237.600 91.491,237.600 90.800 C 237.600 90.099,237.333 90.000,235.447 90.000 C 233.647 90.000,233.260 89.872,233.089 89.218 C 232.913 88.547,232.470 88.420,229.942 88.318 C 227.646 88.226,227.000 88.068,227.000 87.600 C 227.000 87.121,226.209 86.960,223.084 86.800 C 220.197 86.653,219.071 86.442,218.799 86.000 C 218.423 85.390,185.128 84.908,183.600 85.491 M210.800 122.200 C 210.800 122.530,211.070 122.822,211.400 122.850 C 211.730 122.878,212.180 122.945,212.400 123.000 C 212.620 123.055,214.060 123.123,215.600 123.150 C 217.800 123.189,218.400 123.329,218.400 123.800 C 218.400 124.130,218.535 124.379,218.700 124.353 C 220.970 123.994,224.329 124.484,224.516 125.200 C 224.670 125.789,225.062 126.000,225.999 126.000 C 226.700 126.000,227.731 126.360,228.291 126.800 C 228.850 127.240,229.734 127.600,230.254 127.600 C 230.774 127.600,231.560 127.960,232.000 128.400 C 232.440 128.840,233.256 129.200,233.813 129.200 C 234.369 129.200,234.929 129.470,235.055 129.800 C 235.197 130.170,235.805 130.400,236.643 130.400 C 237.733 130.400,238.000 130.557,238.000 131.200 C 238.000 131.848,238.267 132.000,239.400 132.000 C 240.533 132.000,240.800 132.152,240.800 132.800 C 240.800 133.392,241.067 133.600,241.824 133.600 C 242.387 133.600,242.744 133.767,242.617 133.972 C 242.491 134.176,243.020 134.573,243.794 134.852 C 244.567 135.132,245.200 135.599,245.200 135.890 C 245.200 136.182,245.650 136.591,246.200 136.800 C 246.750 137.009,247.200 137.365,247.200 137.590 C 247.200 137.816,247.470 138.000,247.800 138.000 C 248.130 138.000,248.760 138.360,249.200 138.800 C 249.640 139.240,250.360 139.600,250.800 139.600 C 251.333 139.600,251.600 139.867,251.600 140.400 C 251.600 140.840,251.772 141.200,251.982 141.200 C 252.478 141.200,254.400 143.122,254.400 143.618 C 254.400 143.828,254.760 144.000,255.200 144.000 C 255.733 144.000,256.000 144.267,256.000 144.800 C 256.000 145.333,256.267 145.600,256.800 145.600 C 257.333 145.600,257.600 145.867,257.600 146.400 C 257.600 146.844,257.867 147.200,258.200 147.200 C 258.530 147.200,258.800 147.458,258.800 147.773 C 258.800 148.088,259.160 148.460,259.600 148.600 C 260.040 148.740,260.400 149.077,260.400 149.351 C 260.400 149.624,260.683 150.196,261.030 150.624 C 261.376 151.051,261.528 151.147,261.368 150.838 C 261.176 150.469,261.235 150.374,261.538 150.562 C 261.792 150.719,262.000 151.303,262.000 151.861 C 262.000 152.538,262.265 152.944,262.800 153.084 C 263.243 153.200,263.600 153.630,263.600 154.047 C 263.600 154.461,263.870 154.800,264.200 154.800 C 264.530 154.800,264.800 155.151,264.800 155.579 C 264.800 156.008,265.250 156.844,265.800 157.438 C 266.350 158.031,266.800 158.671,266.800 158.858 C 266.800 159.046,267.070 159.200,267.400 159.200 C 267.819 159.200,268.000 159.622,268.000 160.600 C 268.000 161.872,268.299 162.205,269.300 162.047 C 269.465 162.021,269.600 162.647,269.600 163.437 C 269.600 164.538,269.787 164.924,270.400 165.084 C 270.998 165.241,271.200 165.630,271.200 166.627 C 271.200 167.360,271.452 168.104,271.761 168.280 C 272.069 168.456,272.384 169.140,272.461 169.800 C 272.537 170.460,272.915 171.349,273.300 171.775 C 273.704 172.223,274.000 173.184,274.000 174.048 C 274.000 175.195,274.188 175.606,274.800 175.800 C 275.492 176.020,275.600 176.405,275.600 178.664 C 275.600 180.938,275.703 181.302,276.400 181.484 C 277.128 181.675,277.200 182.030,277.200 185.447 C 277.200 188.516,277.309 189.200,277.800 189.200 C 278.317 189.200,278.400 190.575,278.400 199.171 C 278.400 207.502,278.301 209.242,277.800 209.743 C 277.359 210.183,277.200 211.260,277.200 213.795 C 277.200 215.873,277.049 217.154,276.820 217.012 C 276.168 216.609,275.600 218.254,275.600 220.547 C 275.600 222.395,275.472 222.787,274.800 223.000 C 274.142 223.209,274.000 223.605,274.000 225.227 C 274.000 226.714,273.852 227.200,273.400 227.200 C 273.070 227.200,272.778 227.380,272.750 227.600 C 272.723 227.820,272.655 228.180,272.600 228.400 C 272.545 228.620,272.478 229.147,272.450 229.571 C 272.423 229.996,272.130 230.613,271.800 230.943 C 271.470 231.273,271.200 232.094,271.200 232.768 C 271.200 233.560,270.917 234.170,270.400 234.493 C 269.914 234.796,269.600 235.426,269.600 236.096 C 269.600 236.766,269.403 237.161,269.100 237.100 C 268.825 237.045,268.645 237.225,268.700 237.500 C 268.755 237.775,268.620 238.000,268.400 238.000 C 268.180 238.000,268.000 238.480,268.000 239.067 C 268.000 239.653,267.883 240.016,267.740 239.873 C 267.345 239.478,266.427 240.880,266.413 241.900 C 266.406 242.395,266.198 242.755,265.952 242.700 C 265.706 242.645,265.288 243.219,265.025 243.976 C 264.761 244.733,264.332 245.423,264.072 245.509 C 263.813 245.596,263.600 245.911,263.600 246.211 C 263.600 246.510,263.264 246.990,262.854 247.277 C 262.056 247.836,262.000 247.963,262.000 249.200 C 262.000 249.650,261.733 250.000,261.390 250.000 C 261.055 250.000,260.605 250.461,260.391 251.024 C 260.154 251.647,259.820 251.936,259.539 251.762 C 259.263 251.591,259.184 251.651,259.345 251.911 C 259.492 252.149,259.430 252.458,259.207 252.596 C 258.983 252.734,258.800 253.197,258.800 253.624 C 258.800 254.051,258.530 254.400,258.200 254.400 C 257.867 254.400,257.600 254.756,257.600 255.200 C 257.600 255.665,257.333 256.000,256.963 256.000 C 256.612 256.000,256.231 256.360,256.116 256.800 C 256.001 257.240,255.670 257.600,255.380 257.600 C 255.091 257.600,254.740 257.960,254.600 258.400 C 254.460 258.840,254.088 259.200,253.773 259.200 C 253.458 259.200,253.200 259.532,253.200 259.938 C 253.200 260.344,252.840 261.002,252.400 261.400 C 251.960 261.798,251.600 262.456,251.600 262.862 C 251.600 263.333,251.311 263.600,250.800 263.600 C 250.356 263.600,250.000 263.867,250.000 264.200 C 250.000 264.533,249.644 264.800,249.200 264.800 C 248.676 264.800,248.400 265.067,248.400 265.573 C 248.400 265.998,248.040 266.460,247.600 266.600 C 247.160 266.740,246.800 267.091,246.800 267.380 C 246.800 267.670,246.440 268.001,246.000 268.116 C 245.560 268.231,245.200 268.612,245.200 268.963 C 245.200 269.313,244.930 269.600,244.600 269.600 C 244.267 269.600,244.000 269.956,244.000 270.400 C 244.000 270.933,243.733 271.200,243.200 271.200 C 242.760 271.200,242.400 271.449,242.400 271.753 C 242.400 272.058,242.040 272.401,241.600 272.516 C 241.160 272.631,240.800 273.012,240.800 273.363 C 240.800 273.713,240.511 274.000,240.158 274.000 C 239.804 274.000,239.161 274.450,238.729 275.000 C 238.296 275.550,237.685 276.000,237.371 276.000 C 237.057 276.000,236.845 276.221,236.900 276.491 C 236.955 276.760,236.604 277.042,236.119 277.116 C 235.634 277.190,235.128 277.596,234.995 278.017 C 234.861 278.439,234.627 278.766,234.476 278.745 C 233.679 278.631,233.200 278.859,233.200 279.353 C 233.200 279.658,232.840 280.001,232.400 280.116 C 231.960 280.231,231.600 280.612,231.600 280.963 C 231.600 281.313,231.330 281.600,231.000 281.600 C 230.667 281.600,230.400 281.956,230.400 282.400 C 230.400 283.124,229.573 283.454,228.289 283.244 C 228.118 283.216,227.868 283.478,227.734 283.827 C 227.600 284.176,227.055 284.627,226.521 284.830 C 225.988 285.033,225.663 285.379,225.800 285.599 C 225.936 285.820,225.677 286.000,225.224 286.000 C 224.667 286.000,224.400 286.259,224.400 286.800 C 224.400 287.397,224.133 287.600,223.347 287.600 C 222.768 287.600,222.003 287.927,221.647 288.328 C 221.291 288.728,220.685 289.172,220.300 289.315 C 219.915 289.458,219.600 289.851,219.600 290.187 C 219.600 290.533,219.252 290.800,218.800 290.800 C 218.360 290.800,218.000 290.991,218.000 291.224 C 218.000 291.457,217.840 291.549,217.645 291.428 C 217.450 291.307,217.070 291.475,216.800 291.800 C 216.530 292.125,216.138 292.285,215.928 292.155 C 215.718 292.026,215.452 292.278,215.338 292.717 C 215.210 293.205,214.667 293.607,213.938 293.752 C 213.283 293.883,212.849 294.155,212.973 294.356 C 213.097 294.557,212.659 294.910,212.000 295.140 C 211.340 295.370,210.800 295.838,210.800 296.179 C 210.800 296.622,210.399 296.800,209.400 296.800 C 208.128 296.800,207.795 297.099,207.953 298.100 C 207.979 298.265,207.550 298.400,207.000 298.400 C 206.378 298.400,206.000 298.627,206.000 299.000 C 206.000 299.522,204.968 299.830,203.866 299.636 C 203.682 299.604,203.436 299.942,203.319 300.389 C 203.143 301.060,202.008 301.495,201.461 301.100 C 201.156 300.880,200.024 302.115,200.228 302.445 C 200.349 302.640,199.987 302.800,199.424 302.800 C 198.861 302.800,198.066 303.134,197.658 303.542 C 197.250 303.950,196.440 304.404,195.858 304.550 C 195.276 304.696,194.800 304.992,194.800 305.208 C 194.800 305.423,194.333 305.600,193.763 305.600 C 193.062 305.600,192.657 305.859,192.516 306.400 C 192.359 307.001,191.970 307.200,190.953 307.200 C 189.867 307.200,189.600 307.358,189.600 308.000 C 189.600 308.667,189.333 308.800,188.000 308.800 L 186.400 308.800 186.400 295.200 C 186.400 282.008,186.377 281.600,185.624 281.600 C 185.016 281.600,184.821 281.275,184.724 280.100 C 184.642 279.104,184.420 278.637,184.066 278.711 C 183.772 278.773,183.436 278.458,183.319 278.011 C 183.202 277.565,182.870 277.200,182.580 277.200 C 182.291 277.200,181.946 276.859,181.814 276.443 C 181.682 276.027,181.219 275.594,180.787 275.481 C 180.354 275.367,180.000 275.026,180.000 274.723 C 180.000 274.389,179.497 274.132,178.729 274.073 C 178.031 274.020,177.238 273.661,176.968 273.276 C 176.699 272.891,175.883 272.531,175.157 272.475 C 174.430 272.420,173.543 272.110,173.186 271.787 C 172.829 271.464,171.846 271.200,171.002 271.200 C 170.157 271.200,169.585 271.082,169.730 270.937 C 170.219 270.447,169.109 269.600,167.978 269.600 C 167.209 269.600,166.775 269.350,166.603 268.808 C 166.464 268.373,166.227 268.034,166.076 268.055 C 164.711 268.250,163.667 267.901,163.481 267.189 C 163.364 266.742,163.118 266.404,162.934 266.436 C 161.779 266.639,160.867 266.301,160.684 265.600 C 160.569 265.160,160.207 264.800,159.880 264.800 C 159.553 264.800,159.182 264.530,159.055 264.200 C 158.922 263.853,158.324 263.600,157.640 263.600 C 156.805 263.600,156.379 263.363,156.200 262.800 C 156.060 262.360,155.728 262.000,155.462 262.000 C 155.196 262.000,154.680 261.685,154.317 261.300 C 153.206 260.123,152.232 259.395,151.908 259.500 C 151.739 259.555,151.600 259.420,151.600 259.200 C 151.600 258.980,151.240 258.800,150.800 258.800 C 150.356 258.800,150.000 258.533,150.000 258.200 C 150.000 257.870,149.751 257.600,149.447 257.600 C 149.142 257.600,148.799 257.240,148.684 256.800 C 148.569 256.360,148.188 256.000,147.837 256.000 C 147.467 256.000,147.200 255.665,147.200 255.200 C 147.200 254.667,146.933 254.400,146.400 254.400 C 145.960 254.400,145.600 254.142,145.600 253.827 C 145.600 253.512,145.240 253.140,144.800 253.000 C 144.360 252.860,144.000 252.488,144.000 252.173 C 144.000 251.858,143.730 251.600,143.400 251.600 C 143.067 251.600,142.800 251.244,142.800 250.800 C 142.800 250.267,142.533 250.000,142.000 250.000 C 141.495 250.000,141.200 249.733,141.200 249.276 C 141.200 248.879,140.917 248.204,140.570 247.776 C 140.224 247.349,140.072 247.253,140.232 247.562 C 140.424 247.931,140.365 248.026,140.062 247.838 C 139.808 247.681,139.600 247.126,139.600 246.603 C 139.600 246.005,139.304 245.560,138.800 245.400 C 138.360 245.260,138.000 244.888,138.000 244.573 C 138.000 244.258,137.750 244.000,137.445 244.000 C 137.126 244.000,136.777 243.402,136.626 242.600 C 136.482 241.830,136.187 241.200,135.972 241.200 C 135.756 241.200,135.409 240.750,135.200 240.200 C 134.991 239.650,134.545 239.200,134.210 239.200 C 133.874 239.200,133.600 238.855,133.600 238.433 C 133.600 237.256,133.171 236.400,132.581 236.400 C 132.254 236.400,132.000 235.821,131.924 234.900 C 131.840 233.889,131.605 233.400,131.200 233.400 C 130.828 233.400,130.553 232.944,130.475 232.200 C 130.406 231.540,130.096 230.804,129.786 230.564 C 129.476 230.324,129.177 229.532,129.122 228.803 C 129.055 227.926,128.780 227.415,128.310 227.292 C 127.750 227.146,127.600 226.686,127.600 225.116 C 127.600 223.462,127.465 223.090,126.800 222.916 C 126.134 222.742,125.992 222.347,125.950 220.553 C 125.922 219.369,125.855 218.220,125.800 218.000 C 125.745 217.780,125.678 217.420,125.650 217.200 C 125.623 216.980,125.375 216.845,125.100 216.900 C 124.741 216.972,124.567 216.107,124.482 213.842 C 124.410 211.900,124.140 210.364,123.782 209.853 C 122.902 208.596,122.919 189.200,123.800 189.200 C 124.130 189.200,124.379 189.065,124.353 188.900 C 124.043 186.939,124.485 181.600,124.957 181.600 C 125.712 181.600,126.000 180.708,126.000 178.367 C 126.000 176.933,126.217 176.183,126.800 175.600 C 127.363 175.037,127.600 174.267,127.600 173.000 C 127.600 171.728,127.763 171.200,128.157 171.200 C 128.802 171.200,129.200 170.348,129.200 168.967 C 129.200 168.407,129.410 168.042,129.700 168.100 C 130.004 168.161,130.251 167.659,130.332 166.815 C 130.407 166.019,130.790 165.202,131.232 164.893 C 131.654 164.597,132.000 163.921,132.000 163.391 C 132.000 162.838,132.340 162.246,132.800 162.000 C 133.324 161.720,133.600 161.162,133.600 160.386 C 133.600 159.467,133.780 159.200,134.400 159.200 C 134.914 159.200,135.200 158.933,135.200 158.454 C 135.200 158.044,135.560 157.250,136.000 156.691 C 136.440 156.131,136.800 155.477,136.800 155.237 C 136.800 154.997,137.070 154.800,137.400 154.800 C 137.730 154.800,138.000 154.461,138.000 154.047 C 138.000 153.630,138.357 153.200,138.800 153.084 C 139.340 152.943,139.600 152.538,139.600 151.841 C 139.600 151.240,139.935 150.597,140.400 150.307 C 140.840 150.032,141.200 149.581,141.200 149.304 C 141.200 149.027,141.458 148.800,141.773 148.800 C 142.088 148.800,142.455 148.457,142.588 148.037 C 142.721 147.617,143.094 147.173,143.415 147.050 C 143.737 146.926,144.000 146.549,144.000 146.213 C 144.000 145.876,144.287 145.600,144.637 145.600 C 144.988 145.600,145.369 145.240,145.484 144.800 C 145.600 144.357,146.030 144.000,146.447 144.000 C 146.861 144.000,147.200 143.730,147.200 143.400 C 147.200 143.070,147.487 142.800,147.837 142.800 C 148.188 142.800,148.569 142.440,148.684 142.000 C 148.799 141.560,149.142 141.200,149.447 141.200 C 149.751 141.200,150.000 140.840,150.000 140.400 C 150.000 139.867,150.267 139.600,150.800 139.600 C 151.333 139.600,151.600 139.333,151.600 138.800 C 151.600 138.183,151.867 138.000,152.768 138.000 C 153.595 138.000,154.409 137.533,155.553 136.400 C 156.442 135.520,157.451 134.800,157.797 134.800 C 158.142 134.800,158.529 134.530,158.655 134.200 C 158.782 133.870,159.243 133.600,159.680 133.600 C 160.138 133.600,160.563 133.261,160.684 132.800 C 160.841 132.199,161.230 132.000,162.247 132.000 C 163.333 132.000,163.600 131.842,163.600 131.200 C 163.600 130.551,163.867 130.400,165.013 130.400 C 165.899 130.400,166.511 130.177,166.655 129.800 C 166.782 129.470,167.318 129.200,167.847 129.200 C 168.375 129.200,169.116 128.840,169.493 128.400 C 169.919 127.902,170.673 127.600,171.489 127.600 C 172.533 127.600,172.800 127.437,172.800 126.800 C 172.800 126.105,173.067 126.000,174.837 126.000 C 176.538 126.000,176.909 125.868,177.084 125.200 C 177.266 124.503,177.630 124.400,179.903 124.400 C 181.710 124.400,182.648 124.222,182.956 123.820 C 183.262 123.421,184.333 123.214,186.400 123.155 C 190.028 123.051,190.800 122.875,190.800 122.153 C 190.800 121.697,192.552 121.600,200.800 121.600 C 209.422 121.600,210.800 121.683,210.800 122.200 " stroke="none" fill-rule="evenodd"></path></g></svg>
        </a>
      </li>
    </ul>
    <a class="all-episodes-link" pp-href="podcastUrl" target="_parent" pp-if="podcastUrl" pp-title="translations.allEpisodes" pp-aria-label="translations.allEpisodes">
      { translations.allEpisodes }
      &rsaquo;
    </a>
  </div>
</div>