@use "./variables" as vars;

@font-face {
  font-family: "Poppins-Regular";
  src: url(#{ vars.$theme-path + "/fonts/poppins/Poppins-Regular.ttf" }) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(#{ vars.$theme-path + "/fonts/fonts/poppins/Poppins-SemiBold.ttf" }) format("truetype");
  font-weight: normal;
  font-style: normal;
}