$theme-path: "https://www.cicero.de/themes/custom/cicero";
$font-family-regular: "Poppins-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semi-bold: "Poppins-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;