@use "../variables" as vars;
@use "../fonts";

.custom-podcast-player {
  background-color: #ccc;
  font-family: vars.$font-family-regular;
  font-size: 12px;
  height: 50px;
  min-width: 100%;
  position: relative;
  width: 1px;
}

.custom-podcast-player .info,
.custom-podcast-player .controls {
  position: relative;
  z-index: 1;
}

.custom-podcast-player .info {
  font-size: 16px;
  font-weight: 200;
  height: 20px;
  left: 60px;
  overflow: hidden;
  position: absolute;
  top: 15px;
}

.custom-podcast-player .controls {
  height: 50px;
  position: absolute;
  top: 0;
  width: 50px;
}

.custom-podcast-player .controls .play-button {
  font-size: 34px;
  line-height: 50px;
  padding: 0 10px;
}

.custom-podcast-player .progress-bar {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.custom-podcast-player .progress-bar .progress-bar-time-player {
  display: none;
  width: 0;
}

.custom-podcast-player .progress-bar .progress-bar-rail {
  background-color: #ddd;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.custom-podcast-player .progress-bar .progress-bar-played,
.custom-podcast-player .progress-bar .progress-bar-loaded {
  background-color: rgba(100, 149, 237, 0.5);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
}

.custom-podcast-player .progress-bar .progress-bar-loaded {
  background-color: #aaa;
  display: none;
}