<div class="custom-podcast-player">
  <audio></audio>
  <progressbar/>
  <div class="info">
    <span class="title" pp-html="title">{ title }</span>
    <span pp-if="subtitle" > - </span>
    <span class="subtitle" pp-if="subtitle" pp-html="subtitle"></span>
  </div>
  <div class="controls">
    <i class="play-button"></i>
  </div>
</div>